{% macro mode(transparency='transparent',darken='dark') %}
<!-- Head Section -->
<section class="small-section bg-dark-lighter">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">My Account</h1>
                <div class="hs-line-4 font-alt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                </div>
            </div>

            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Pages</a>&nbsp;/&nbsp;<span>My Account</span>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End Head Section -->

<!-- Navigation panel -->
<nav class="main-nav stick-fixed
{%if transparency == 'transparent' %} transparent {% endif %}
{%if darken == 'dark' %} dark {% endif %}">
  <div class="full-wrapper relative clearfix">
    <!-- Logo ( * your text or image into link tag *) -->
    <div class="nav-logo-wrap local-scroll">
      <a href="#top" class="logo">
        <img src="images/logo-white.png" alt="" />
      </a>
    </div>
    <div class="mobile-nav">
      <i class="fa fa-bars"></i>
    </div>
    <!--Main Menu-->
    <div class="inner-nav desktop-nav">
      <ul class="clearlist scroll-nav local-scroll">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contacts</a></li>

      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation panel -->
{% endmacro %}
