
@{
    ViewBag.Title = "GetMangoCard";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@Scripts.Render("~/bundles/GetMangoCard")
<button class="btn btn-primary" data-bind="click:viewModel.getMangoCard">获取MangoCard</button>
<div id="qrcode"></div> 

<div id="logs"></div>