@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@Scripts.Render("~/bundles/Home")

<div class="container">
    <h1>Home</h1>
    <a href="#">
        获取MangoCard
    </a>
    <a href="#">数据中心</a>
    <hr />
    <h2>invitationcard请柬</h2>
    
</div>

