<!-- Fullwidth Slider -->
<div class="home-section fullwidth-slider-fade bg-dark" id="home">

  <!-- Slide Item -->
  <section class="home-section bg-scroll bg-dark-alfa-50" data-background="images/full-width-images/mens/hero1.jpg">
    <div class="js-height-full container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
            <b class="btn btn-mod btn-border-w btn-small btn-round">Mango Cards</b>￼ ￼基于微信,极致, 简便创新的方式
          </h1>
        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Slide Item -->

  <!-- Slide Item -->
  <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/full-width-images/mens/hero2.jpg">
    <div class="js-height-full container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">

          <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
            订制个性化 <b class="btn btn-mod btn-border-w btn-small btn-round ">Mango Cards</b>
          </h1>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Slide Item -->

  <!-- Slide Item -->
  <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/full-width-images/mens/hero3.jpg">
    <div class="js-height-full container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="hs-line-8 font-alt mb-50 mb-xs-30">
            使用 <b class="btn btn-mod btn-border-w btn-small btn-round ">Mango Cards</b> 构建您的创意无限的世界。
          </h1>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Slide Item -->


</div>
<!-- End Fullwidth Slider -->
