<!-- Fullwidth Slider -->
<div class="home-section fullwidth-slider bg-dark" id="home">

  <!-- Slide Item -->
  <section class="home-section bg-scroll bg-dark-alfa-50" data-background="images/full-width-images/mens/hero1.jpg">
    <div class="js-height-full container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="no-transp font-alt visible-xs" style="margin-bottom: 0.5em;">
            <b class="btn btn-mod btn-border-w btn-small btn-round ">他,</b>
          </h1>
          <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
            <b class="btn btn-mod btn-border-w btn-small btn-round hidden-xs">他,</b>是一位来自伦敦的艺术家。
          </h1>
        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Slide Item -->

  <!-- Slide Item -->
  <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/full-width-images/mens/hero2.jpg">
    <div class="js-height-full container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="no-transp font-alt visible-xs" style="margin-bottom: 0.5em;">
            <b class="btn btn-mod btn-border-w btn-small btn-round ">他,</b>
          </h1>
          <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
            <b class="btn btn-mod btn-border-w btn-small btn-round  hidden-xs">他</b>用画笔构建创意无限的世界。
          </h1>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Slide Item -->

  <!-- Slide Item -->
  <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/full-width-images/mens/hero3.jpg">
    <div class="js-height-full container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="no-transp font-alt visible-xs" style="margin-bottom: 0.5em;">
            <b class="btn btn-mod btn-border-w btn-small btn-round ">他,</b>
          </h1>
          <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
            <b class="btn btn-mod btn-border-w btn-small btn-round  hidden-xs">他</b>最爱单宁布，也爱喝咖啡。
          </h1>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Slide Item -->

  <!-- Slide Item -->
  <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/full-width-images/mens/hero4.jpg">
    <div class="js-height-full container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">

          <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
            时尚是<b class="btn btn-mod btn-border-w btn-small btn-round">他</b>的个性宣言。
          </h1>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Slide Item -->
</div>
<!-- End Fullwidth Slider -->
