<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="video/Sparks/MP4/Sparks.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="video/Sparks/WEBM/Sparks.mp4" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="video/Sparks/Snapshots/Sparks.jpg" alt="Loading..">
        </div>
    </div>
</div>
